<%= render 'top_nav'%>
<div class="main-body">
	<p id="search-result">Search Result</p>
	<div class="products">
	        <div class="container" id="mrow">
	          <% @search_var.each_slice(4) do |vars|%>
	            <div class="row">
	              <% vars.each do |v|%>
	                  <div class="col-md-3" id="display">                      
	                      <div>
	                          <%product= v.product%>                         
	                          <%=link_to image_tag(v.product_image,:style=>"height:250px; width:180px;margin-top:80px"),user_product_path(v)%><br>
	                          <%= label :brand_name,"#{v.brand_name}`s #{product.category}" %><br>
	                          <%= label :price, "Rs #{v.price}/-"%><br>
	                      </div>                  
	                  </div>                
	              <%end%>
	            </div>           
	          <%end%>
	        </div>
	</div>
</div>